@font-face{
font-family:"mitra";
src:url("mitra.eot?#iefix");
src:url("mitra.eot?#iefix") format("eot"),url("mitra.woff2") format("woff2"),url("mitra.woff") format("woff"),url("mitra.ttf") format("truetype"),url("mitra.svg#9b2bc325") format("svg");
}
